header(style="background-image: url(img/header-bg.jpg)").header
  .container
    .menu-btn
      span
    .header-content
      h1.header-title WE'VE GOT THE TALENT
      hr.header-line
      p.header-descr.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <br>
            vestibulum. Nunc lobortis dui magna, quis lacusullamcorper at.
    .header-scroll
      img(src="img/mouse-icon.png" alt="scroll-icon")
      