html, body
	margin: 0
	padding: 0
	width: 100%
	height: 100%
	overflow-x: hidden
body
	font-family: $font
	color: #fff
	font-size: 1rem

h1, h2, h3, h4, h5, h6
	font-weight: 800
	text-transform: uppercase

.section-title
	font-size: rem(30px)
	font-family: $titleFont
	color: $textColor
	text-align: center
	margin-bottom: rem(74px)

.title-line
	border: none
	width: rem(86px)
	height: 2px
	background-color: $textColor
	display: block
	margin: 0 auto
	margin-bottom: rem(78px)

.button
	display: inline-block
	padding: rem(36px) rem(100px)
	border: 3px solid #fff
	font-family: $fontBold
	font-size: rem(30px)
	color: #fff
	text-decoration: none
	transition: color .25s ease, background-color .25s ease
	&:hover
		background-color: #fff
		color: $textColor
