extends ../layout/main

block variables
	- var pageTitle = 'Casablanca Template'

block content
	section.introduction 
		.container 
			h2.section-title INTRODUCTION
			hr.title-line

			p.introduction-block.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
	section(style="background-image: url(img/image-sections/1.jpg);").image-section
		.container 
			a(href="#").button Pure Creativity
	section(style="background-image: url(img/image-sections/2.jpg);").image-section
		.container 
			a(href="#").button We're here to help.
	section(style="background-image: url(img/image-sections/3.jpg);").image-section
		.container 
			a(href="#")
				img(src="img/icons/play.svg")
	section(style="background-image: url(img/image-sections/4.jpg);").image-section
		.container 
			a(href="#").button Get a quote now.
	

