extends ../layout/main

block variables
	- var pageTitle = 'Casablanca Template'

block content
	section.introduction 
		.container 
			h2.section-title INTRODUCTION
			hr.title-line
			p.section-descr.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
	section(style="background-image: url(img/image-sections/1.jpg);").image-section
		.container 
			a(href="#").button Pure Creativity
	section.works
		.container 
				h2.section-title SOME OF OUR WORK
				hr.title-line
				ul.works-categories
					li.works-categories-item.works-categories-item_active ALL
					li.works-categories-item BRANDING
					li.works-categories-item WEB DESIGN
					li.works-categories-item MOBILE UI
					li.works-categories-item ILLUSTRATIONS
				ul.works-list 
					li(style="background-image: url(img/works/1.jpg);").work-item
						.work-item__content
							.work-item__category MOBILE UI
							.work-item__title Google Mail
							hr.work-item__decoration-line
					li(style="background-image: url(img/works/2.jpg);").work-item
						.work-item__content
							.work-item__category MOBILE UI
							.work-item__title Google Mail
							hr.work-item__decoration-line
					li(style="background-image: url(img/works/3.jpg);").work-item
						.work-item__content
							.work-item__category MOBILE UI
							.work-item__title Google Mail
							hr.work-item__decoration-line
					li(style="background-image: url(img/works/4.jpg);").work-item
						.work-item__content
							.work-item__category MOBILE UI
							.work-item__title Google Mail
							hr.work-item__decoration-line
					li(style="background-image: url(img/works/5.jpg);").work-item
						.work-item__content
							.work-item__category MOBILE UI
							.work-item__title Google Mail
							hr.work-item__decoration-line
					li(style="background-image: url(img/works/6.jpg);").work-item
						.work-item__content
							.work-item__category MOBILE UI
							.work-item__title Google Mail
							hr.work-item__decoration-line
				a(href="#").works-btn Show me more
	section(style="background-image: url(img/image-sections/2.jpg);").image-section
		.container 
			a(href="#").button We're here to help.
	section.clients
		.container 
			h2.section-title OUR CLIENTS
			hr.title-line

			ul.clients-list 
				li.clients-item
					img(src="img/clients/1.png" alt="google")
				li.clients-item
					img(src="img/clients/2.png" alt="samsung")
				li.clients-item
					img(src="img/clients/3.png" alt="flickr")
				li.clients-item
					img(src="img/clients/4.png" alt="foursquare")
				li.clients-item
					img(src="img/clients/5.png" alt="pinterest")
	section.about
		.container 
			h2.section-title ABOUT US
			hr.title-line

			p.section-descr.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
			ul.about-list
				li(style="background-image: url(img/team/1.jpg);").about-item
					a(href="#").about-item__link
						img(src="img/icons/link.svg", alt="link-profile")
					.about-item__content
						.about-item__name JOHN
						.about-item__position CEO/Founder
				li(style="background-image: url(img/team/2.jpg);").about-item
					a(href="#").about-item__link
						img(src="img/icons/link.svg", alt="link-profile")
					.about-item__content
						.about-item__name JOHN
						.about-item__position CEO/Founder
				li(style="background-image: url(img/team/3.jpg);").about-item
					a(href="#").about-item__link
						img(src="img/icons/link.svg", alt="link-profile")
					.about-item__content
						.about-item__name JOHN
						.about-item__position CEO/Founder
				li.about-item.hiring-block
					.hiring-block__content
						h3.hiring-block__title WE ARE <br> HIRING
						hr.hiring-block__line
						a(href="#").hiring-block__btn Apply
					
	section(style="background-image: url(img/image-sections/3.jpg);").image-section
		.container 
			a(href="#" class="play-icon")
				img(src="img/icons/play.svg" alt="play-icon")
	section.features
		.container 
			h2.section-title WHY CHOOSE US
			hr.title-line

			p.section-descr.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
			.features-list
				.features-item
					.features-item__image
						img(src="img/features/iphone.svg" alt="phone-icon")
					h3.features-item__title App Design
					p.features-item__descr.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ilabore et dolore.
				.features-item
					.features-item__image
						img(src="img/features/ipad.svg" alt="tablet-icon")
					h3.features-item__title Responsive Layout
					p.features-item__descr.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ilabore et dolore.
				.features-item
					img(src="img/features/macbook.png" alt="laptop-icon").features-item__image
					h3.features-item__title Pixel Perfect Design
					p.features-item__descr.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ilabore et dolore.
				.features-item
					img(src="img/features/iphone.svg" alt="phone-icon").features-item__image
					h3.features-item__title App Design
					p.features-item__descr.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ilabore et dolore.
				.features-item
					img(src="img/features/ipad.svg" alt="tablet-icon").features-item__image
					h3.features-item__title Responsive Layout
					p.features-item__descr.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ilabore et dolore.
				.features-item
					img(src="img/features/macbook.png" alt="laptop-icon").features-item__image
					h3.features-item__title Pixel Perfect Design
					p.features-item__descr.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ilabore et dolore.
	section(style="background-image: url(img/image-sections/4.jpg);").image-section
		.container 
			a(href="#").button Get a quote now.
	section.introduction 
		.container 
			h2.section-title GET IN TOUCH
			hr.title-line
			p.section-descr.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
	section.contacts
		.container
			.location
				.location-title OUR LOCATION
				.location-string 174 mimosa ST. NW
				.location-string Casablanca, MA 20370
				.location-string (212) 123 456 7
				.location-string Samir Timezguida
				ul.location-social
					li.location-social__item
						a(href="#").location-social__link
							img(src="img/social/twitter.svg", alt="twitter-icon")
					li.location-social__item
						a(href="#").location-social__link
							img(src="img/social/facebook.svg", alt="facebook-icon")
					li.location-social__item
						a(href="#").location-social__link
							img(src="img/social/linkedin.svg", alt="linkedin-icon")
					li.location-social__item
						a(href="#").location-social__link
							img(src="img/social/vimeo.svg", alt="vimeo-icon")
					li.location-social__item
						a(href="#").location-social__link
							img(src="img/social/behance.svg", alt="behance-icon")
			form.callback
				.callback-inputs
					input(type="text" placeholder="Name" class="callback-input")
					input(type="email" placeholder="Email" class="callback-input")
					
				input(type="text" placeholder="Message" class="callback-message")
				button(class="callback-submit") Send
	footer.footer
		.container 
			img(src="img/logo.png" alt="Samir Timezguida").footer-logo
			.footer-copy 2014 &copy; <span>Samir Timezguida.</span> All Rights Reserved.


