extends ../layout/main

block variables
	- var pageTitle = 'Casablanca Template'

block content
	section.introduction 
		.container 
			h2.section-title INTRODUCTION
			hr.title-line
			p.introduction-block.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
	section(style="background-image: url(img/image-sections/1.jpg);").image-section
		.container 
			a(href="#").button Pure Creativity
	section.works
		.container 
				h2.section-title SOME OF OUR WORK
				hr.title-line
				ul.works-categories
					li.works-categories-item.works-categories-item_active ALL
					li.works-categories-item BRANDING
					li.works-categories-item WEB DESIGN
					li.works-categories-item MOBILE UI
					li.works-categories-item ILLUSTRATIONS
				ul.works-list 
					li(style="background-image: url(img/works/1.jpg);").work-item
						.work-item__content
							.work-item__category MOBILE UI
							.work-item__title Google Mail
							hr.work-item__decoration-line
					li(style="background-image: url(img/works/2.jpg);").work-item
						.work-item__content
							.work-item__category MOBILE UI
							.work-item__title Google Mail
							hr.work-item__decoration-line
					li(style="background-image: url(img/works/3.jpg);").work-item
						.work-item__content
							.work-item__category MOBILE UI
							.work-item__title Google Mail
							hr.work-item__decoration-line
					li(style="background-image: url(img/works/4.jpg);").work-item
						.work-item__content
							.work-item__category MOBILE UI
							.work-item__title Google Mail
							hr.work-item__decoration-line
					li(style="background-image: url(img/works/5.jpg);").work-item
						.work-item__content
							.work-item__category MOBILE UI
							.work-item__title Google Mail
							hr.work-item__decoration-line
					li(style="background-image: url(img/works/6.jpg);").work-item
						.work-item__content
							.work-item__category MOBILE UI
							.work-item__title Google Mail
							hr.work-item__decoration-line
				a(href="#").works-btn Show me more
	section(style="background-image: url(img/image-sections/2.jpg);").image-section
		.container 
			a(href="#").button We're here to help.
	section.clients
		.container 
			h2.section-title OUR CLIENTS
			hr.title-line

			ul.clients-list 
				li.clients-item
					img(src="img/clients/1.png" alt="google")
				li.clients-item
					img(src="img/clients/2.png" alt="samsung")
				li.clients-item
					img(src="img/clients/3.png" alt="flickr")
				li.clients-item
					img(src="img/clients/4.png" alt="foursquare")
				li.clients-item
					img(src="img/clients/5.png" alt="pinterest")
	section(style="background-image: url(img/image-sections/3.jpg);").image-section
		.container 
			a(href="#")
				img(src="img/icons/play.svg" alt="play-icon")
	section(style="background-image: url(img/image-sections/4.jpg);").image-section
		.container 
			a(href="#").button Get a quote now.
	section.introduction 
		.container 
			h2.section-title GET IN TOUCH
			hr.title-line
			p.introduction-block.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
	

