extends ../layout/main

block variables
	- var pageTitle = 'Casablanca Template'

block content
	section.introduction 
		.container 
			h2.section-title INTRODUCTION
			hr.title-line

			p.introduction-block.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
	
	

